/*----------全体にかけるcss*----------*/
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color:#3e3a39;
}

body {
  font-family: Verdana, "メイリオ", Meiryo,;
}

ul, ol {
  list-style: none;
}

a{
  text-decoration: none;
  color:black;
}

.yamalog-green{
    color:#50a135;
}
.other-grey{
    color:#c9beb8;
}
.tabilog-blue{
    color:#5eb7e8;
}
.profile-purple{
    color:#c00e53;   
}

h1{
    font-size:40px;
    font-weight:bold;
    color:#3e3a39;
    font-family: source-han-sans-cjk-ja, sans-serif;
}
h2{
    font-size:30px;
    font-weight:bold;
    color:#3e3a39;
    font-family: source-han-sans-cjk-ja, sans-serif;
    
}
h3{
    font-size:12px;
    font-weight:bold;
    color:#3e3a39;
     font-family: source-han-sans-cjk-ja, sans-serif;
}


/*----------個別にかけるcss----------*/

/*----------header----------*/


.header{
    width:100%;
    background-color:white;
    height:67px;
    box-shadow:0px 2px 10px 0px rgba(0,0,0,0.2);
    position: fixed;
    top:0px;
    left:0px;
    z-index:10;

}
.header-wrapper{
    max-width:1080px;
    padding:0 60px 0 60px;
    margin:0 auto;
}


.header-logo img{
    display: block;
    height:67px;
    width:auto;
    padding:8px 0px 7px 15px;
    float:left;
    
}

.header-logo p{
    display: block;
    float:left;
    line-height:67px;
    padding-left:10px;
    color:#50a135;
    font-size:10px;
    float:left;
}

.header-navigation-menu{
    display:inline-block;
    float:right;
    text-align:center;
    width:106px;
    margin:16px 0 15px 0;
    border-left:0.5px dotted #c9beb8;
}

.border-right{
    border-right:0.5px dotted #c9beb8;
}

.header-navigation-menu p{
    color:#50a135;
    font-size:12px;
}

/*----------top-image*-----------*/
/*
.top-image{
    height:700px;
    clear:both;
    background-image:url(images/top/top-background.png);
    background-size:auto 605px;
    background-repeat: repeat;
    background-color:#50a135;
     text-align: center;
 }

*/
/*----------新着情報----------*/
/*
.new{
    width:100%;
    height:532px;
    background-color:#f5f3f2;
}
.new-wrapper{
    width:960px;
    margin:0 auto;
}

.new-title p{
    font-size:30px;
    font-weight:bold;
    color:#50a135;
    text-align:center;
    padding:54px 0 40px 0;
    font-family: source-han-sans-cjk-ja, sans-serif;
}


.new-content{
    display:block;
    width:23%;
    height:300px;
    margin-right:2%;
    background-color:white;
    float:left;
    box-shadow:2px 2px 7px 0px rgba(0,0,0,0.1);
}

.new-content img{
    display:block;
    width:85%;
    height:120px;
    object-fit: cover;
    margin: 22px auto 20px auto;
}
.new-content-date{
    width:85%;
    font-size:12px;
    font-weight: bold;
    margin: 0px auto 0px auto;
    }

.new-content-title{
    width:85%;
    font-size:14px;
    font-weight: bold;
    margin: 0px auto 5px auto;
    }
.new-content-text{
    width:85%;
    font-size:12px;
    margin: 0px auto 12px auto;
    }
*/
/*----------メインログ～----------*/
/*
.main{
    width:100%;
    height:563px;
}

.main-wrapper{
    max-width:960px;
    margin:0 auto;
}
.main-maintitle{
    font-size:40px;
    font-weight:bold;
    color:#3e3a39;
    text-align:center;
    padding:60px 0 10px 0;
    font-family: source-han-sans-cjk-ja, sans-serif;
}
.main-subtitle{
    font-size:12px;
    font-weight:bold;
    color:#3e3a39;
    text-align:center;
    padding:0px 0 50px 0;
    font-family: source-han-sans-cjk-ja, sans-serif;
}
.yamalog-green{
    color:#50a135;
}

.tabilog-blue{
    color:#5eb7e8;
}

.right-image{
    float:right;
}
.main-catchimage{
margin-bottom:
}
.left-image{
    float:left;
}
.left-catch{
    padding-bottom:46px;
}
.left-text{
    width:165px;
    font-size:12px;
    padding-bottom:13px;
}
.main-more{
    height:20px;
    font-size:14px;
    font-weight:bold;
}

.left-image img{
    vertical-align: middle; 
}
.tabilog-main{
    width:100%;
    height:563px;
    background-color:#e6f2fb;

}

.tabilog-backimage{
    width:1080px;
    height:563px;
    background-image:url(images/top/tabilog-image.png);  
    background-size:1080px 563px;
    background-repeat:no-repeat;
    margin:0 auto;
}

.other-contents{
    width:48%;
    height:144px;
    margin:0px 1%;
    border:solid 7px #e4dfdb;
    float:left;
}

.other-content-image img{
    width:30%;
    height:130px;
    object-fit: cover;
    disblay:inline-block;
    float:left;
}

.other-content-text{
    width:70%;
    float:right;    
    padding:20px 20px 20px 20px;
}

.other-title{
    font-size:20px;
    font-family: source-han-sans-cjk-ja, sans-serif;
    padding-bottom:10px;
    
}

.other-text{
    font-size:12px;
    padding-bottom:10px;
}

.other-content-text img{
    vertical-align: middle; 
}

.other-grey{
    color:#c9beb8;
}
*/
/*----------記事～----------*/   

.log-main{
    background-color:#f5f3f2;
}
.log-main-wrapper{
    max-width:960px;
    padding: 87px 60px 60px 60px;
    margin:0 auto;
}
.log-pankuzu{
    padding-bottom:10px;
    font-size:10px;
    color:#3e3a39; 
}
.log-pankuzu img{
   display:inline-block;
}

.log-pankuzu p{
        display:inline-block;
        font-size:10px;
        color:#3e3a39;
    
}
.log-article-main-title{
    margin-bottom:2px;
}

.log-article-timeicon{
    display: inline-block;
}

.log-article-yymmdd{
    margin-bottom:20px;
}
.log-article-timeicon img{
    vertical-align: middle;
    height:14px;
}

.log-article-date{
    display:inline-block;
    font-weight: bold;
    color:#c9beb8;
}



.log-article{
    background-color:white;
    width:840px;
    /*height:231px*/
    display:block;
    padding:40px 60px 0 60px;
}


.log-article-wrapper{
    width:auto;
    height:auto;
    padding-bottom: 40px;
 }

.log-article-image{
    display:block;
}

.log-article-image img{
    width:100%;
}

.log-article-text{
    margin-top:20px;
}

.back a{
    display:inline-block;
    margin:10px 0;
    font-size:14px;
    font-weight:bold;
    color:#c9beb8;    
}

/*----------フッター----------*/
.footer{
    width:100%;
    background-color:#50a135;
    height:75px;
    text-align:center;
    padding:20px 0 0 0; 
    color:white;
}
.footer-home{
    height:20px;
    width:100px;
    border-right:1px solid white;
    border-left:1px solid white;
    margin: 0 auto 10px auto;

}
.footer-home a{ 
    color:white;   
}

.footer p{ 
    font-size:10px;
    color:white;
}

 